*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f7f7f7;
}
#nav{
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 5;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding: 10px;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    margin: 0 20px;
}
#nav-part2 #links a:hover{
    color: purple;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#nav-part2 #links #icons i{
    font-size: 20px;
    margin:0 20px ;
    font-weight: 500;
}
#icons a{
    text-decoration: none;
    font-size: 18px;
    margin:0 15px ;
    font-weight: 500;
}
#nav #bhoot{
    height: 115px;
    width: 115px;
}
#cursor{
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform:translate(-50%,-50%);
    scale: 0;
    z-index: 1;
}
*::selection{
    color: #fff;
    background-color: black;
}
#page-1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding:0 1vw ;
    padding-top: 19vh;

}
#page-1 h1{
    font-size: 15vw;
    font-family: 'futura';
    line-height: 14vw;
    letter-spacing: -5px;
}
#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    position: fixed;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: 'futura';
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    transform: translate(-50%,-50%);

}
#page-2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw ;
    justify-content: space-between;

}
#page-2 .elem{
    height: 100%;
    width:30% ;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:red; */
}
#page-2 .elem img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    scale: 1.2;
}
#page-2 .elem .dets{
    height: 60px;
    width: 60%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 3px solid black;
}
#page-2 .elem .dets:hover{
    height: 200px;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px;
    color: black;
    font-weight: 900;
}
.dets button {
    padding: 5px 15px; 
    color:black;
    /* border: 1px #1864ab solid; */
    background-color:transparent; 
    display: none;

}
.dets button {
    font-size: 20px;
    color: black;
    font-weight: 900;
    text-decoration: none;

}
#page-3{
    min-height: 120vh;
    width: 100%;
    background-color:#f7f7f7 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.child #text2{
    font-size: 5vw;
    font-family: 'futura';
    line-height: 10vw;
    letter-spacing: -5px;
    -webkit-text-stroke: 2px black;
    color: transparent;
}
.child #text3{
    font-size: 2.5vw;
    font-family: 'futura';
    
}
.child p{
    font-size: 1.5vw;
    font-family: 'futura';
    line-height: 2vw;
}
.child img{
    height: 100%;
}
#child3 p{
    font-size: 2vw;
}
#para span{
    color: red;
    font-family: 'futura';
    font-size: 2vw;
    font-weight: 1000;
}

@media (max-width:600px){
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links{
        padding: 15px;
    }
    #nav-part2 #links a{
        display: none;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 400;
        font-size: 14px;
        margin: 0 20px;
    }
    #nav-part2 #links a:hover{
        display: block;
    }
    #icons{
        padding: 10px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    #nav-part2 #links #icons i{
        font-size: 20px;
        margin:0 20px ;
        font-weight: 500;
    }
    #nav #bhoot{
        height: 90px;
        width: 90px;
    }
    #page-1{
        min-height: 70vh;
        width: 100%;
        padding:0 3vw ;
        padding-top: 25vh;
    
    }
    #page-1 h1{
        font-size: 15.5vw;
        letter-spacing: -3px;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 7.5vw 5.2vw;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4.5vw;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50,-50);
    }
    #page-2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw ;
        flex-direction: column;
        justify-content: space-between;
    
    }
    #page-2 .elem{
        height: 100vh;
        width:100% ;
        overflow: hidden;
        /* background-color:red; */
        margin-bottom: 3vw;
    }
    #page-2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.2;
    }
    #page-2 .elem .dets{
        height: 40px;
        width: 70%;
        border-radius: 50px;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    #page-3{
        min-height: 120vh;
        width: 100%;
        background-color:#f7f7f7 ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child{
        height: 54vh;
        width: 88vw;
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child img{
        height: 100%;
    }
    .child #text2{
        font-size: 8vw;
        font-family: 'futura';
        line-height: 10vw;
        letter-spacing: -2px;
    }
    .child #text3{
        font-size: 5vw;
        font-family: 'futura';
        
    }
    .child p{
        font-size: 2.3vw;
        font-family: 'futura';
        line-height: 6vw;
    }
    
}
